test/catalog/catalog.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogEntry">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="objectid"/>
                <xs:element ref="objectDataSet"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="objectid" type="xs:string"/>
    <xs:element name="objectDataSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="objectData" type="xs:string"
                minOccurs="1" maxOccurs="999"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
